@import "../index.css";

/* Footer wrapper */
.Footer footer {
    margin-top: 80px;
    margin-bottom: 40px;
}

/* Contact box */
.Footer .contact-box {
    background-color: var(--off-white);
    padding: 30px 120px;
    border-radius: 10px;
}
.Footer .contact-box p {
    margin: 0;
}

/* Contact button */
.Footer .contact-btn {
    border-radius: 4px;
    padding: 15px 20px;
    color: white;
    background-color: var(--secondary-gray);
    border: none;
    font-family: var(--grotesk-font);
}
.Footer .contact-btn:hover {
    cursor: pointer;
    background-color: var(--light-blue);
    color: white;
    transition: all 100ms ease-in-out;
}

/* Email link */
.Footer .email-link {
    margin: 40px 0;
    color: var(--primary-black);
    font-size: 25px;
    text-decoration: none;
}
.Footer .email-link:hover {
    color: var(--light-blue);
    text-decoration: underline;
}

/* Social icons */
.Footer .social {
    color: var(--primary-black);
    background-color: var(--off-white);
    font-size: 25px;
    padding: 8px 14px;
    border-radius: 50%;
}
.Footer .social:hover {
    color: var(--light-blue);
}

@media (max-width: 767px) {
    .contact-box {
        display: none !important;
    }
    .email-link {
        font-size: 20px !important;
    }
}
