@import "../index.css";

.ProjectDetails .back-button {
    position: fixed;
    z-index: 1100;
    border-radius: 4px;
    padding: 8px 14px;
    color: #fff;
    background-color: var(--secondary-gray);
    border: none;
    font-family: var(--grotesk-font);
}

.ProjectDetails .back-button:hover {
    cursor: pointer;
    background-color: var(--light-blue);
    color: #fff;
    transition: all 100ms ease-in-out;
}

.ProjectDetails .onshape-link-btn {
    border-radius: 4px;
    padding: 15px 20px;
    color: white;
    background-color: var(--secondary-gray);
    border: none;
    font-family: var(--grotesk-font);
}
.ProjectDetails .onshape-link-btn:hover {
    cursor: pointer;
    background-color: var(--light-blue);
    color: white;
    transition: all 100ms ease-in-out;
}

@media (max-width: 767px) {
    .ProjectDetails .back-button {
        margin-top: -30px;
    }
}
