:root {
    --primary-black: #212529;
    --light-blue: #3878af;
    --off-white: #f8f9fa;
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --grotesk-font: "Schibsted Grotesk", sans-serif;
}

p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
